.main-nav{
    padding-left: 40px;
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover{
    color: #00285F;
    text-decoration: none;
}

.main-menu{
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
    }

.main-menu a{
    color: rgba(0.0, 15.7, 37.3, 0.5);
    text-decoration: none;
}

.main-menu a:hover{
    color: #00285F;
    text-decoration: none;
}

.main-menu a.active{
    color: #00285F;
        font-weight: 700;
        text-decoration: none;
}

.alinhar{
    display: flex;
}

.active{
    align-content: flex-end;
}