.product-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
}

.card-bottom-container {
  padding: 15px 20px 30px 20px;
}

.card-bottom-container h6 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.card-bottom-container p {
  font-size: 14px;
  font-weight: 400px;
  font-style: italic;
  color: #000000;
  text-align: center;
}

.card-top-container img {
  width: 158px;
  height: 158px;
}

.flex1 {
  display: flex;
}

.flex-interno {
  flex-direction: column;
}

.btn-comprar h6 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.btn-comprar {
  align-items: center;
  padding: auto;
  width: 100%;
  padding-top: 12px;
}
